body {
    background-color: #eeeeee;
}

p, h1, h2, h3, h4, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #4F4F4F;
}

header .onja-link {
    color: #6AA2EF;
}

header,main {
    /* max-width: 900px; */
    max-width: 600px;
    margin: 0 auto;
}

.main__header {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 12px;
}

.img {
    max-width: 150px;
    max-height: 200px;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.personal-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personal-detail__head {
    display: flex;
    justify-content: space-between;
}

.contact li {
    padding-left: 2rem;
    margin-bottom: 1rem;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 1rem;
}

.email {
background-image: url(./assets/email.svg);
}

.github {
    background-image: url(./assets/github.svg);
}

/* projects */

.section-projects__header {
    background-color: #ffffff;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 12px;
}

.section-projects--list {
    display: flex;
    justify-content: space-between; 
}

.section-projects--list .project {
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 2rem;
    max-width: 250px;
    height: 450px;
}

.section-projects--list .project:hover {
    box-shadow: 0px 2px 5px 0px #455A64;

}

.project .figma {
    color: #6AA2EF;
}

.project img {
    width: 100%;
    height: 200px;
}

.code {
    background-color: transparent;
    padding: 9px 12px;
    border: 1px solid #4F4F4F;
    color: #4F4F4F;
    border-radius: 10px;
    text-decoration: none;
}

.demo {
    padding: 9px 12px;
    border-radius: 10px;
    background-color: #6AA2EF;
    color: white;
    border: none;
    text-decoration: none;
}

.demo:hover {
    box-shadow: 0px 2px 3px 0px #2962FF;
}

.button-links {
    display: flex;
    gap: 1rem;
}

.tag-name {
    padding: 1rem;
    background-color: #ffffff;
    color: #6AA2EF;
    border: 1px #6AA2EF solid;
    margin: 1rem 0;
    border-radius: 12px;
    width: 50%;
}

/* .section-projects__navigation > ul {
    display: flex;
    justify-content: space-between;
} */